.hero__title {
    font-family: 'Seymour One';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #FCFCFC;
}